a { 
    color: inherit;
    text-decoration: inherit;
}

body {
    background-color: #d8e4ed;
}

.logo {
    padding-top: 24px;
    padding-left: 16%;
    text-align: left;
    color: #5b7f9b;
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.outer {
    width: 1600px;
    margin-left: 10%;
  }
  
  .inner {
    margin-left: 10px;
  }

.img {
    height: auto;
    width: auto;
    text-align: left;
    font-size: 16px;
    margin-left: 20%;
}

.cap {
    padding-right:12%;
    height: auto;
    width: auto;
    text-align: inherit;
    font-size: 16px;
    margin-left: 20%;
}

.block {
    padding-left: 10%;
    padding-right: 40%;
    text-align: justify;
    margin-right:auto;
    border:2px;
}

head {
    text-align: left;
    color: #5b7f9b;
    font-size:48px;
    font-family: 'Noto Sans', sans-serif;
}

.date {   
    text-align: left;
    text-decoration: underline;
    font-weight: bolder;
    padding-left: 20%;
    color: #5b7f9b;
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
}

.sub {
    text-align: left;
    font-weight: bold;
    padding-inline-start: 20%;
    color: #5b7f9b;
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}

div {
    text-align: center;
    color: #5b7f9b;
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}

p {
    text-align: justify;
    margin-left: 18%;
    font-size: 24px;
}

audio {
    padding-left: 24%;
}

footer {
    margin-top: 24px;
    text-align: center;
    color: #5b7f9b;
    font-size:24px;
    font-family: 'Noto Sans', sans-serif;
}